<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>

		<!-- Redirigir solicitudes a /api/qr/... al backend QR -->
                <rule name="QR API Proxy" stopProcessing="true">
                    <match url="^api/qr/(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern=".*" /> <!-- Acepta cualquier dominio, ajústalo si es necesario -->
                    </conditions>
                    <action type="Rewrite" url="http://localhost:3003/api/qr/{R:1}" />
                </rule>


                <!-- Redirigir solicitudes de API -->
                <rule name="API Proxy" stopProcessing="true">
                    <match url="^api/(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^sicel\.com\.mx$" />
                    </conditions>
                    <action type="Rewrite" url="http://localhost:3002/{R:1}" />
                </rule>

                <!-- Redirigir todas las rutas de Vue a index.html mientras se preserva la ruta actual -->
                <rule name="SPA Fallback" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <!-- Preservar la ruta actual -->
                    <action type="Rewrite" url="/index.html" />
                </rule>
            </rules>
        </rewrite>
        <httpRedirect enabled="false" destination="http://localhost:3002/" httpResponseStatus="Permanent" />
    </system.webServer>
</configuration>
